* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  --sectionPadding: 1.5rem;
}

:root {
  --mainColor: #2196f3;
  --mainTransColor: #1787e0;
  --bgColor: #ececec;
  --fontColor: #666666;
  --main-transition: .25s
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  color: var(--fontColor, #666666);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;

  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/* Medium devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-space {
  justify-content: space-between;
}

/* Section Header Styling */
header {
  background-color: white;

  box-shadow: 0px -7px 14px black;
}

header .container {
  position: relative;
  padding-bottom: 0;
}

header .container .logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--mainColor, #1787e0);
}

.min-nav {}

.min-nav li a {
  display: block;
  padding: var(--sectionPadding);
  color: black;
  transition: .25s;
  position: relative;
  font-size: 1.15rem;
}

.min-nav>li>a:hover {
  background-color: var(--bgColor, #ececec);
  color: var(--mainTransColor, #2196f3);
}

.min-nav>li>a::before {
  content: "";
  width: 0px;
  height: 5px;
  background-color: var(--mainTransColor, #2196f3);
  position: absolute;
  top: 0;
  left: 0;
  transition: .25s;

}

.min-nav li a:hover::before {
  width: 100%;
}

.mega-nav {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  border-bottom: 3px solid var(--mainTransColor, #2196f3);
  gap: 2rem;
  padding: 2rem;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: -1
}

.min-nav>li:last-of-type {
  transition: .5s;
}

.min-nav>li:last-of-type:hover .mega-nav {
  z-index: 1;
  opacity: 1;
  top: 70px;
}


.mega-nav .image img {
  width: 100%;
}

@media (max-width: 991px) {
  .mega-nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .mega-nav .image {
    display: none;
  }
}

.mega-nav .links {}

.mega-nav .links li {}

.mega-nav .links li a {
  padding: 1rem;
  color: var(--mainColor, #1787e0);
  font-weight: bold;
  border-bottom: 1px solid var(--bgColor, #ececec);
  z-index: 1;
}

.mega-nav .links li a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0px;
  top: 0;
  left: 0;
  background-color: var(--bgColor, #ececec);
  transition: .25s;
  z-index: -1;
}

.mega-nav .links li a:hover::before {
  width: 100%;
}

@media (max-width: 767px) {
  header .container {
    flex-direction: column;

  }

  .min-nav {
    justify-content: center;
    text-align: center;
  }

  header .container .logo {
    padding: .5rem 0;
  }

  .min-nav li a {
    font-size: 1rem;
    padding: calc(var(--sectionPadding, 2rem) / 2) calc(var(--sectionPadding, 2rem) / 3);
  }

  .mega-nav {
    grid-template-columns: 1fr;
    gap: 0;
    padding: .1rem var(--sectionPadding, 1rem);
    top: 120px;
  }

  .min-nav>li:last-of-type:hover .mega-nav {
    top: 86.5px;
  }
}

/* Section Header Styling End */

/* Section Landing Styling Start */

.landing {
  height: calc(100vh - 86px);
  position: relative;
}

.landing::after {
  content: "";
  position: absolute;
  left: 0;
  top: -45px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 20vh;
  position: relative;
}

.landing .container .text h1 {
  font-size: 2rem;
}

.landing .container .text p {
  font-size: 1.25rem;
  line-height: 1.7;
}

.landing .container .image img {
  width: 100%;
  position: relative;

  animation: landing-image 2s infinite;

}

@media (max-width: 767px) {
  .landing {
    text-align: center;
  }

  .landing .container {
    grid-template-columns: 1fr;
  }

  .landing .container .image {
    display: none;
  }

  .landing .container .text p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@keyframes landing-image {
  0% {
    top: 20px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: 20px;
  }

}

section .container>i {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: arrow-down 2s infinite;
  color: var(--mainTransColor, #2196f3);
}

@keyframes arrow-down {
  0% {
    bottom: 1.5rem;
  }

  10% {
    bottom: .5rem;
  }

  20% {
    bottom: 1.5rem;
  }

  30% {
    bottom: .5rem;
  }

  50%,
  100% {
    bottom: 1.5rem;
  }
}


/* Section Landing Styling End */

/* * Header Title Start */
.title {
  margin: 6rem 0;
  text-align: center;

  display: flex;
  justify-content: center;
}

.title h2 {
  padding: .5rem 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  border: 2px solid black;
  width: fit-content;
  z-index: 1;
  position: relative;
  transition: .5s;
}

.title h2:hover {
  color: white;
  border-color: white;

}

.title h2::before,
.title h2::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--mainTransColor, #2196f3);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: .1s;
}

.title h2::before {
  left: -2rem;
  transition: .5s;
}

.title h2::after {
  right: -2rem;
  transition: .5s;
}


.title h2:hover::before {
  left: 0;
  width: 51%;
  height: 100%;
  border-radius: 0;
}

.title h2:hover::after {
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
}

/* * Header Title End */

/* Section Articles Styling Start */
.articles {}

.articles .container {}

.articles .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.cards .card {
  border-radius: .25rem;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  position: relative;
  transition: .25s, box-shadow .25s;
}

.cards .card:hover {

  transform: translateY(-1rem);
}

.cards .card .image img {
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.cards .card .text {
  padding: var(--sectionPadding);
  border-bottom: 1px solid var(--bgColor, #ececec);
}

.cards .card .text h3 {
  margin-top: 0;
}

.cards .card .text p {
  margin-bottom: 0;
  font-size: 1.05rem;
  line-height: 1.4;
}

.cards .card .read {
  padding: 1rem 2rem;
  font-weight: bold;
  color: var(--mainColor, #1787e0);
}

.cards .card:hover .read i {
  animation: arrow-left .5s infinite;
  position: relative;
}

@keyframes arrow-left {
  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}

/* Section Articles Styling End */
.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}



/* Section Gallery Styling Start */
.gallery {
  background-color: var(--bgColor, #ececec);

}

.gallery .title {
  margin: 0;
}

.gallery .title h2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.gallery .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.gallery .boxes .box {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 7px 4px rgb(0 0 0 / 10%);
  overflow: hidden;
}

.gallery .boxes .box img {
  width: 100%;
  display: block;

}

.gallery .boxes .box .image {
  overflow: hidden;
  position: relative;
}

.gallery .boxes .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: white;
  z-index: 1;
  opacity: .25;
  transition: .25s;
}

.gallery .boxes .box .image:hover img {
  rotate: 5deg;
  scale: 1.1;
  transition: .25s;
}

.gallery .boxes .box .image:hover::before {
  width: 100%;
  height: 100%;
}

.features .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.features .container .boxes .f-box {
  border: 1px solid #cfcfcf;
  overflow: hidden;
}

.boxes .f-box {
  text-align: center;
}
.boxes .f-box .image {
  position: relative;
}
.boxes .f-box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainColor, #1787e0);
  opacity: .6;
}

.boxes .f-box .image::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: .25s;
}
.boxes .f-box:hover .image::after {
  border-width: 0px 700px 170px 0px;
  border-color: transparent transparent white transparent;
}
.boxes .f-box .image img {
  width: 100%;
  display: block;
}
.boxes .f-box .text {
  padding: 1.5rem;
  line-height: 1.8;
}
.boxes .f-box .text h3 {
  font-size: 2.5rem;
  margin: auto;
  position: relative;
  width: fit-content;
  
  margin-bottom: 1rem;
}
.boxes .f-box .text h3::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 5px;
  background-color: var(--mainColor, #1787e0);
}

.boxes .f-box .text p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.boxes .f-box .text button {
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: 4px solid var(--mainColor, #1787e0);
  color: var(--mainColor, #1787e0);
  border-radius: .4rem;
  background-color: transparent;
  transition: .25s .25s;
  position: relative;
  cursor: pointer;
}
.boxes .f-box .text button::before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mainColor, #1787e0);
  transition: .25s;
  
  z-index: -1;
}
.boxes .f-box:hover .text button::before {
  width: 100%;
}
.boxes .f-box:hover .text button {
  color: white; 
}
.boxes .f-box:first-child {
  --mainColor: #f44036;
}
.boxes .f-box:nth-child(2) {
  --mainColor: #009688; 
}
/* Section Gallery Styling End */
/* section TeamMember Styling Start */

.testimonials {
  background-color: var(--bgColor, #cfcfcf);
}
.testimonials .container .title {
  margin-top: 0;
}
.testimonials .container .title h2 {
  margin-top: 6rem;
  margin-bottom: 0;
  
}

.testimonials .container .teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.container .teams .team-member {
  padding: 1rem;
  background-color: white;
  position: relative;
  
  border-radius: .5rem;
  box-shadow: 1px 1px 22px #cfcfcf;
}
.container .teams .team-member h5 {
  font-size: 1.25rem;
  margin: 0;
}
.container .teams .team-member p:first-of-type {
  margin-top: .5rem;
  margin-bottom: 0;
}
.teams .team-member .stars {
  gap: .25rem;
  margin-top: .5rem;
}
.teams .team-member .stars i.filled {
  color: #ffc107;
}
.teams .team-member .image {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -10px;
  top: -50px;
  z-index: 1;
}

.container .teams .team-member p:last-of-type {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: .5rem;
  
}


.teams .team-member .image img {
  width: 100%;
  border-radius: 50%;
  border: 10px  solid var(--bgColor, #cfcfcf);
}
/* section TeamMember Styling End */